@font-face
{
    font-family: 'Sen';
    src: url(Sen.ttf) format(ttf);
}

body
{
    font-family: 'Sen';
    margin: 0;
}

table
{
    border-collapse: collapse;
    margin: 0px;
    padding: 0%;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    
}


tr, td
{
    border: 2px solid black;
    height: 60px;
    width: 300px;
    margin: 0px;
    padding: 0%;    
    
}

th
{
    border: 2px solid black;
    height: 60px;
    width: 300px;
    margin: 0px;
    padding: 0%; 
    background-color: darkgray;
    text-emphasis: bold;
}

div.content
{
    font-family: 'Sen';
    margin: 0px;
    text-align: center;
}

div.form
{
    font-family: 'Sen';
    width: 300px;
    margin: 0 auto;
}

div.result
{
    font-family: 'Sen';
    text-align: center;
}

.topnav
{
    overflow: hidden;
    background-color: #e9e9e9;
}
  
.topnav a 
{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover
{
    background-color: burlywood;
    color: black;
}
  
.topnav a.active
{
    background-color: darkorange;
    color: white;
}
  
.topnav .search-container 
{
    float: right;
}
  
.topnav input[type=text]
{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
  
.topnav .search-container button
{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
.topnav .search-container button:hover
{
    background: burlywood;
}
  
@media screen and (max-width: 600px)
{
    .topnav .search-container
    {
      float: none;
    }
    
    .topnav a, .topnav input[type=text], .topnav .search-container button
    {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    
    .topnav input[type=text]
    {
      border: 1px solid #ccc;  
    }
}