<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        nhentai loader
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <h1 style="text-align: center; color: brown" href="/index">Nukes Loader</h1>
    
    
    <div class="topnav">
        <hr style="margin-bottom: 0px; margin-top: 0px">
        {%block navcontents%}

        {%endblock%}
        
    </div>
    <hr style="margin-bottom: 5px; margin-top: 0px">
    <br>

    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>