{% extends 'base.html' %}

{% block navcontents %}
<a class="active" href="./">Home</a>
<a href="https://nhentai.net">nhentai</a>
{% endblock %}

{% block head %}{% endblock %}

{% block body %}

<div class="form">
   <form action="./result" method="POST">
      <p>
         Enter Magic Number
         <br></br>
         <input type="text" name="magicno" placeholder="177013" />
         <input type="submit" value="Time to fap" /></p>
   </form>
</div>

{% endblock %}