{% extends 'base.html' %}

{% block navcontents %}
<a class="active" href="./">Home</a>
<a href="https://nhentai.net">nhentai</a>
{% endblock %}

{% block head %}{% endblock %}


{% block body %}

<div class="result">
   <h2>Nuke Code:  {{magicno}}</h2>
   
   {% for img in imglist %}

   <img src="{{img}}" alt="">
   <br/><br/>

   {%endfor%}
  
</div>

{% endblock %}